# Vercel Dashboard > Storage > Blob yarating. Token avtomatik qo'shiladi:
BLOB_READ_WRITE_TOKEN=

# Vercel Dashboard > Storage > KV yarating. Bular avtomatik qo'shiladi:
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
KV_URL=

# Admin panel paroli
ADMIN_PASSWORD=Nodirbek2003
